/* CABEÇALHO */
.cabecalho {
  align-items: center;
  background-color: #15191C;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.cabecalho__menu i::before {
  content: "\e904";
  font-size: 1.5rem;
}

.cabecalho__logo {
  width: 2.5rem;
}

.cabecalho__perfil {
  display: none;
}

.cabecalho__notificacao i::before {
  content: "\e906";
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    background-color: #1D232A;
    box-sizing: border-box;
    column-gap: 2rem;
    grid-column: 2;
    grid-template-columns: 1fr auto;
    height: 4rem;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }

  .cabecalho__menu {
    display: none;
  }

  .cabecalho__logo {
    display: none;
  }

  .cabecalho__perfil {
    align-items: center;
    border-right: 1px solid #98999C;
    color: #95999C;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.5rem 1rem;
  }

  .cabecalho__perfil::before {
    background-image: url(../img/profile_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
  }

  .cabecalho__perfil::after {
    content: "\e90d";
    color: #FFFFFF;
    font-size: 1.5rem;
  }
}
