/* CARTÃO */
.cartao {
  background-color: #2C343A;
  border-radius: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.cartao__imagem {
  width: inherit;
}



/* CONTEÚDO */
.cartao__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
}

.cartao__conteudo {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1rem;
  grid-template-columns: auto 1fr;
  padding: 1rem;
}

.cartao__criador {
  color: #95999C;
  grid-column: span 2;
}

.cartao__info {
  color: #95999C;
  align-self: center;
}

.cartao__botao {
  align-items: center;
  background-color: #0480DC;
  border-radius: 10px;
  display: flex;
  font-size: 0.9rem;
  height: 2.5rem;
  justify-content: center;
  justify-self: flex-end;
  width: 2.5rem;
}


/* VÍDEOS */
.cartao__info--tempo::before {
  content: "\e90c";
  margin-right: 0.5rem;
}

.cartao__info--views::before {
  content: "\e90f";
  margin-right: 0.5rem;
}

.cartao__botao--play::before {
  content: "\e90b";
  font-size: 1.5rem;
}


/* PRODUTOS */
.cartao__info--preco::before {
  content: "\e905";
  margin-right: 0.5rem;
}

.cartao__botao--comprar::before {
  content: "\e901";
  font-size: 1.5rem;
}


@media screen and (min-width:1024px) {
  .cartao__imagem--mobile {
    display: none;
  }
}
