/* PRINCIPAL */
.principal {
  display: grid;
  padding: 1.5rem 1rem;
  row-gap: 1rem;
}

.principal__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .principal {
    column-gap: 2rem;
    grid-column: 2;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        "titulo-principal titulo-principal titulo-principal"
        "video-destaque video-destaque videos-favoritos"
        "secao-videos secao-videos secao-videos"
    ;
    padding: 1rem 3.75rem;
  }

  .titulo-principal {
    grid-area: titulo-principal;
  }

  .video-destaque {
    grid-area: video-destaque;
  }

  .videos-favoritos {
    grid-area: videos-favoritos;
  }

  .secao-videos {
    grid-area: secao-videos;
  }

  .titulo-videos-mais-vistos {
    grid-column: span 4;
  }
}
