/* PRINCIPAL */
.principal {
  display: grid;
  padding: 1.5rem 1rem;
  row-gap: 1rem;
}

.principal__pico {
  border-radius: 1rem;
  height: 40vh;
  width: 100%;
}

.principal__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}

.perfil-criador {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
}

.perfil-criador::before {
  background-image: url(../img/profile_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 2rem;
  width: 2rem;
}

.info-pico--views {
  align-items: center;
  display: flex;
}

.info-pico--views::before {
  content: "\e90f";
  margin-right: 0.5rem;
}

.principal__conteudo--paragrafo {
  color: #FFFFFF;
  grid-column: span 2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.principal__conteudo--foto-artigo {
  grid-column: span 2;
}

.principal__conteudo--foto {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.info-pico {
  align-items: center;
  color: #95999C;
  display: flex;
}


@media screen and (min-width: 768px) {
  .principal__conteudo {
    display: grid;
    grid-template-columns: 1.27fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  .principal__pico {
    height: 50vh;
  }
}


@media screen and (min-width: 1024px) {
  .principal {
    column-gap: 2rem;
    grid-column: 2;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "principal__pico principal__pico secao-picos-similares"
        "titulo-principal titulo-principal secao-picos-similares"
        "perfil-criador info-pico secao-picos-similares"
        "conteudo-principal conteudo-principal secao-picos-similares"
    ;
    padding: 1rem 3.75rem;
  }

  .principal__pico {
    grid-area: principal__pico;
  }

  .secao-picos-similares {
    grid-area: secao-picos-similares;
  }

  .titulo-principal {
    grid-area: titulo-principal;
  }

  .perfil-criador {
    grid-area: perfil-criador;
  }

  .info-pico {
    grid-area: info-pico;
    justify-self: flex-end;
  }

  .conteudo-principal{
    grid-area: conteudo-principal;
  }
}
