/* PRINCIPAL */
.principal {
  display: grid;
  padding: 1.5rem 1rem;
  row-gap: 1rem;
}

.principal__titulo {
  font-size: 1.5rem;
  font-weight: 700;
}

.principal__titulo--produtos {
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .principal {
    column-gap: 2rem;
    grid-column: 2;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        "titulo-principal titulo-principal titulo-principal"
        "video-destaque video-destaque videos-recentes"
        "secao-videos secao-videos secao-videos"
        "titulo-produtos titulo-produtos titulo-produtos"
        "novas-artes produto-destaque produto-destaque"
        "secao-produtos secao-produtos secao-produtos"
    ;
    padding: 1rem 3.75rem;
  }

  .titulo-principal {
    grid-area: titulo-principal;
  }

  .video-destaque {
    grid-area: video-destaque;
  }

  .secao-videos {
    grid-area: secao-videos;
  }

  .titulo-videos-mais-vistos {
    grid-column: span 4;
  }

  .principal__titulo--produtos {
    margin-top: 1rem;
  }

  .titulo-produtos {
    grid-area: titulo-produtos;
  }

  .produto-destaque {
    grid-area: produto-destaque;
  }

  .novas-artes {
    grid-area: novas-artes;
  }

  .secao-produtos {
    grid-area: secao-produtos;
  }

  .titulo-camisas-mais-recentes {
    grid-column: span 4;
  }
}
