/* SEÇÃO */
.secao {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.secao__titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.perfil__criador {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
}

.perfil__criador::before {
  background-image: url(../img/profile_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .secao {
    height: 100%;
  }
}
