@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);
}

body {
  background-color: #1D232A;
  color: #FFFFFF;
  font-family: 'Open Sans', 'icones', sans-serif;
}

@media screen and (min-width: 1024px) {
  body{
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
